@font-face {
    font-family: Alice;
    src: url(Assets/Fonts/Alice/Alice-Regular.ttf);
}

@font-face {
    font-family: manrope;
    src: url(Assets/Fonts/manrope/fonts/ttf/Manrope-Regular.ttf);
}

body {
    color: #EAE3D2;
    background-color: #1C3879;
    font-family: manrope, Arial, sans-serif;
    font-size: 20px;
}

h1, h2, h3 {
    color: #F9F5EB;
    font-family: Alice, Times, serif;
}

a {
    color: #F9F5EB;
}

video {
    border: 3px solid #EAE3D2;
    border-radius: 25px;
}

footer {
    background-color: #607EAA;
    background-image: url("Assets/Images/background.png");
    background-position: center;
    background-size: cover;
    padding: 5px;
    padding-left: 10px;
}


table, th, td {
    border: 3px solid #1C3879;
    padding: 5px;
    text-align: center;
    color:#1C3879;
}

tr {
    background-color: #EAE3D2;
}

table {
    border-collapse: collapse;
}

caption {
    margin-bottom: 5px;
    color:#F9F5EB;
}

tr:nth-child(odd){
    background-color: #F9F5EB;
}



/* professional headshot settings */
.headshot {
    border: 3px solid #EAE3D2;
    border-radius: 20px;
}


/* places all reflection paragraphs inside same box */
.reflectionbody {
    margin: 0;
    padding: 15px;
    padding-top: 0px;
    display: block;
}

/* changes styling of first letter of first paragraph */
.reflectionbody > p.first::first-letter {
    font-size: 35px;
    color: #F9F5EB;
}

/* indents paragraphs after the first paragraph */
p.first ~ p {
    text-indent: 50px;
}


/* flex styling */


/* all flexbox divs will receive this generic styling */
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 5px;
    
}

/* styling for first level subcontainers */
.subContainer {
    background-color: #607EAA;
    border: 5px solid #607EAA;
    border-radius: 25px;
}

/* generic page styling */
.aboutPage, .indexPage, .reflectionPage {
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

/* special about page styling */
.education {
    justify-content: space-around;
    flex-direction: row;
}

.education > div {
    max-width: 50%;
}

.resumecontainer{
    flex-direction: column;
}


/* special home page styling */
.indexBody {
    justify-content: space-around;
    align-items: center;
}

.indexParagraph {
    max-width: 50%;
}

.reflectionImageContainer {
    flex-direction: row;
    justify-content: space-evenly;
}

.reflectionImage {
    height: 250px;
    border: 3px solid #EAE3D2;
    border-radius: 25px;
}

.specialContainer {
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

.projectPage {
    flex-direction: row;
}

.project {
    flex-direction: column;
    max-width: 30%;
}

.projectImage {
    max-width: 100%;
    border: 3px solid #EAE3D2;
    border-radius: 20px;
    margin: 5px 0px;
}














/* The animation code */
@keyframes sizeIncrease {
    from {width: 25px; height: 25px;}
    to {width: 35px; height: 35px;}
  }
  
/* The element to apply the animation to */
footer:hover .icon {
    width: 25px;
    height: 25px;
    animation-name: sizeIncrease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@media screen and (max-width: 1300px) {
    .aboutPage, .indexPage, .reflectionPage, .projectPage {
        flex-direction: column;
        margin: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .container {
        margin: 10px;
        padding: 10px;
        align-items: center;
        max-width: 90%;
    }

    .indexParagraph {
        max-width: 100%;
    }

    .resumecontainer {
        align-items: center;
    }

    .vidContainer {
        text-align: center;
    }

    body {
        font-size: 15px;
    }

    .headshot {
        max-width: 75%;
    }

    video {
        border: none;
        border-radius: 0;
        max-width: 95%
    }

    .reflectionImage {
        height: 250px;
        max-width: 95%;
        border: 3px solid #EAE3D2;
        border-radius: 25px;
        margin: 5px;
    }

    .education > div {
        max-width: 100%;
    }


    table, th, td {
        padding: 2px;
        font-size: 17px;
    }
  }



  @media print {
    * {
        color: black !important;
        font-family: serif !important;
        border: none !important;
        border-radius: 0 !important;
        max-width: 100%;
        padding: 0 !important;
        margin: 0 !important;
    }

    h1 {
        font-family: Alice, Times, serif !important;
        padding: 5px !important;
    }

    .navbar, .headshot, .resumecontainer, h3, .icon {
        display: none !important;
    }

    p, ul, blockquote {
        font-size: 16px !important;
        padding: 15px 0 15px 0 !important;
    }


    @page { 
        size: 8.5in 11in; 
        margin: 2.54cm 
    }


  }