/*

margin
padding
border
display

*/

ul li {
    display: inline;
    list-style-type: none;
    border: 2px solid black;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
}