@font-face {
    font-family: Alice;
    src: url(Assets/Fonts/Alice/Alice-Regular.ttf);
}

@font-face {
    font-family: manrope;
    src: url(Assets/Fonts/manrope/fonts/ttf/Manrope-Regular.ttf);
}

body {
    color: #EAE3D2;
    background-color: #1C3879;
    font-family: manrope, Arial, sans-serif;
    font-size: 20px;
}

h1, h2, h3 {
    color: #F9F5EB;
    font-family: Alice, Times, serif;
}

a {
    color: #F9F5EB;
}

video {
    border: 3px solid #EAE3D2;
    border-radius: 25px;
}

footer {
    background-color: #607EAA;
    padding: 5px;
    padding-left: 10px;
}

/* professional headshot settings */
.headshot {
    border: 3px solid #EAE3D2;
    border-radius: 25px;
}

/* places all reflection paragraphs inside same box */
.reflectionbody {
    margin: 0;
    padding: 15px;
    padding-top: 0px;
    display: block;
}

/* changes styling of first letter of first paragraph */
.reflectionbody > p.first::first-letter {
    font-size: 35px;
    color: #F9F5EB;
}

/* indents paragraphs after the first paragraph */
p.first ~ p {
    text-indent: 50px;
}


/* flex styling */


/* all flexbox divs will receive this generic styling */
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 5px;
    
}

/* styling for first level subcontainers */
.subContainer {
    background-color: #607EAA;
    border: 5px solid #607EAA;
    border-radius: 25px;
}

/* generic page styling */
.aboutPage, .indexPage, .reflectionPage {
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

/* special about page styling */
.education {
    justify-content: space-around;
    flex-direction: row;
}

.education > div {
    max-width: 50%;
}

.resumecontainer{
    flex-direction: column;
}


/* special home page styling */
.indexBody {
    justify-content: space-around;
    align-items: center;
}

.indexParagraph {
    max-width: 50%;
}

.reflectionImageContainer {
    flex-direction: row;
    justify-content: space-evenly;
}

.reflectionImage {
    height: 250px;
    border: 3px solid #EAE3D2;
    border-radius: 25px;
}

@media screen and (max-width: 1300px) {
    .aboutPage, .indexPage, .reflectionPage {
        flex-direction: column;
        margin: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .container {
        margin: 10px;
        padding: 10px;
        align-items: center;
        max-width: 90%;
    }

    .indexParagraph {
        max-width: 100%;
    }

    .resumecontainer {
        align-items: center;
    }

    .vidContainer {
        text-align: center;
    }

    body {
        font-size: 15px;
    }

    .headshot {
        max-width: 75%;
    }

    video {
        border: none;
        border-radius: 0;
        max-width: 95%
    }

    .reflectionImage {
        height: 250px;
        max-width: 95%;
        border: 3px solid #EAE3D2;
        border-radius: 25px;
        margin: 5px;
    }

    .education > div {
        max-width: 100%;
    }
  }